<form (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
  <label for="userName">Username</label>
  <input
    type="text"
    name="userName"
    [(ngModel)]="form.userName"
    required
    #userName="ngModel"
  />

  <label for="password">Password</label>
  <input
    type="password"
    name="password"
    [(ngModel)]="form.password"
    required
    #password="ngModel"
  />

  <label for="firstName">First Name</label>
  <input
    type="text"
    name="firstName"
    [(ngModel)]="form.firstName"
    required
    #firstName="ngModel"
  />

  <label for="lastName">Last Name</label>
  <input
    type="text"
    name="lastName"
    [(ngModel)]="form.lastName"
    required
    #lastName="ngModel"
  />

  <button type="submit">Register</button>
  <button type="button" (click)="goToLogin()">Back to Login</button>
</form>
